{% set title = "Book Details" %}
{% set curPage = "items" %}
{% extends "base.html" %}

{% block css %}
<style>
  table {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
  }
</style>
{% endblock %}

{% block content %}

<div class="container">

  <h5 class="page_title text-center border-bottom border-primary pb-2">{{title}}</h5>

  <div class="card shadow">
    <div class="card-body p-4">

      <button onclick="history.back()" class="btn btn-sm btn-warning">Go Back</button>

      <div class="row p-2">
        <div class="col-sm-10">
          <table class="w-100">
            <tr>
              <th style="width: 20%;">DVD Id</th>
              <td> : </td>
              <td>{{item['id']}}</td>
            </tr>
            <tr>
              <th style="width: 20%;">Title</th>
              <td> : </td>
              <td>{{item['title']}}</td>
            </tr>
            <tr>
              <th>Item Type</th>
              <td> : </td>
              <td>{{item['item_type']}}</td>
            </tr>
            <tr>
              <th>Director</th>
              <td> : </td>
              <td>{{item['director']}}</td>
            </tr>
            <tr>
              <th>Production Year</th>
              <td> : </td>
              <td>{{item['production_year']}}</td>
            </tr>
            <tr>
              <th>Categories</th>
              <td> : </td>
              <td>{{",".join(item['categories'])}}</td>
            </tr>
            <tr>
              <th>Availability Type</th>
              <td> : </td>
              <td>{{item['availability_type']}}</td>
            </tr>
          </table>
          {%if copies%}
          <hr>
          <table class="w-100">
            <thead>
              <tr>
                <th>Branch</th>
                <th>Total Copies</th>
                <th>Available Copies</th>
                <th>Reserve {{item['item_type']}}</th>
              </tr>
            </thead>
            <tbody>
              {%for item in copies%}
              <tr>

                <td>{{item['branch_name']}}</td>
                <td class="">{{item['total_copies']}}</td>
                <td class="">{{item['available_copies']}}</td>
                <td>
                  {%if item['available_copies'] == 0%}
                  <a href="{{request.uri}}branch/{{item['branch_id']}}/reserve/"
                    class="btn btn-sm btn-success">Reserve</a>
                  {%endif%}
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
          {%endif%}
        </div>
        <div class="col-sm-2">
          <img src="{{url_for('static',filename='uploads/dvds/'+item['image_filename'])}}" alt="{{item['title']}}"
            style="width: 100%;" />
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}