{% set title = "Member details" %}
{% set curPage = "members" %}
{% extends "base.html" %}

{% block content %}

<div class="container">

  <h5 class="page_title text-center border-bottom border-primary pb-2">{{title}}</h5>

  <div class="card shadow">
    <div class="card-body p-2">

      <button class="btn btn-sm btn-warning mb-3" onclick="history.back()">Back</button>

      <table class="table table-bordered border">
        <tr>
          <th>MemberID</th>
          <td>{{member["member_id"]}}</td>
        </tr>
        <tr>
          <th style="width: 20%;">Firstname</th>
          <td style="width: 30%;">{{member["firstname"]}}</td>
          <th style="width: 20%;">Lastname</th>
          <td style="width: 30%;">{{member["lastname"]}}</td>
        </tr>
        <tr>
          <th style="width: 20%;">Email</th>
          <td>{{member["email"]}}</td>
          <th style="width: 20%;">Contact No</th>
          <td>{{member["contact_no"]}}</td>
        </tr>
        <tr>
          <th style="width: 20%;">Address</th>
          <td colspan="3">{{member["address"]}}</td>
        </tr>
        <tr>
          <th style="width: 20%;">Status</th>
          <td>{{member["status"]}}</td>
          <th style="width: 20%;">Due Amount</th>
          <td>${{'%0.2f'%member['due_amount']|float}}</td>
        </tr>
      </table>

      <hr>

      <div class="my-4" id="borrowed_items">
        <h5>Borrowed History</h5>
        <hr>
        <div class="table-responsive">
          <table class="table table-bordered border" id="table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Name</th>
                <th>RFID</th>
                <th>Borrowed&nbsp;on</th>
                <th>Due&nbsp;date</th>
                <th>Delayed Days</th>
                <th>Late Fee</th>
                <th>Returned Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {%for item in member["borrowed_items"]%}

              <tr>
                <td>{{item['item_type']}}</td>
                <td>{{item['item']['title']}}</td>
                <td>{{item['rfid']}}</td>
                <td>{{item['borrowed_on'].strftime('%Y-%m-%d')}}</td>
                <td>{{item['due_date'].strftime('%Y-%m-%d')}}</td>
                <td>{{item['delayed_days']}}</td>
                <td>${{'%.02f'%item['late_fee']|float}}</td>
                <td>{{item['return_date'].strftime('%Y-%m-%d') if item['return_date']}}</td>
                <th>
                  {%if not item['returned']%}
                  <a href="/admin/return/{{item['copy_id']}}/{{member['member_id']}}"
                    class="btn btn-sm btn-warning">Return</a>
                  {%endif%}
                </th>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}