{% set title = "Change Password" %}
{% set curPage = "changePassword" %}
{% extends "base.html" %}

{% block content %}

<div class="container">

  <h5 class="page_title text-center border-bottom border-primary pb-2">{{title}}</h5>

  <div class="card shadow">
    <div class="card-body">
      <div class="w-50 border p-3 m-auto">
        <form action="{{request.uri}}" method="post" id="memberUpdatePassword">
          <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
          </div>

          <button class="btn btn-sm btn-primary">Update Password</button>
        </form>
      </div>
    </div>
  </div>

</div>

{% endblock %}