{% set title = "Reserved Items" %}
{% set curPage = "reservedItems" %}
{% extends "base.html" %}

{% block content %}

<div class="container">

  <h5 class="page_title text-center border-bottom border-primary pb-2">{{title}}</h5>

  <div class="card shadow">
    <div class="card-body p-2">

      <div class="my-4" id="reserved_items">

        <div class="table-responsive">
          <table class="table table-bordered border" id="table">
            <thead>
              <tr>
                <th>Id</th>
                <th style="width: 8%;">Image</th>
                <th>Item Type</th>
                <th>Item Title</th>
                <th>Branch</th>
                <th>Reserved On</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {%for item in items%}
              {% set image = item['item_type']+"s/"+item['image_filename'] %}
              <tr>
                <td>{{loop.index}}</td>
                <td>
                  <a href="{{url_for('static',filename='uploads/'+image)}}" target="_blank">
                    <img src="{{url_for('static',filename='uploads/'+image)}}" alt="{{item['title']}}"
                      style="width: 100%;" />
                  </a>
                </td>
                <td>{{item['item_type']}}</td>
                <td>{{item['item_title']}}</td>
                <td>{{item['branch_name']}}</td>
                <td>{{item['reserved_date'].strftime('%Y-%m-%d')}}</td>
                <td>{{'Available' if item['item_available']}}</td>
                <th>
                  <a href="{{request.uri}}{{item['_id']}}/delete/" class="btn btn-sm btn-danger">Delete </a>
                </th>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}