{% set title = "Admin Login" %}
{% set curPage = "adminLogin" %}
{% extends "home_base.html" %}

{% block content %}

<div class="container">
  <h4 class="text-primary text-center my-5">
    <span class="bg-light p-2">Library Management System</span>
  </h4>
  <div class="d-flex justify-content-center">
    <div class="card shadow p-3 border-primary" style="width: 23rem">
      <div class="card-body">
        <h5 class="card-header text-center card-title text-primary">
          {{title}}
        </h5>
        <h6 class="text-danger text-center">{{error_msg}}</h6>

        <form class="g-3" action="{{request.url}}" method="post" id="adminLoginForm">
          <div class="mt-3 mb-3">
            <label for="username" class="form-label text-secondary">User name</label>
            <input type="text" class="form-control" id="username" name="username" required autofocus />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label text-secondary">Password</label>
            <input type="password" class="form-control" name="password" id="password" required />
          </div>
          <input type="submit" class="btn btn-primary form-control" value="Login" name="admin_login" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}