{% set title = "Copy Details of "+item["title"] %}
{% set curPage = "items" %}
{% extends "base.html" %}

{% block css %}
<style>
  table {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
  }
</style>
{% endblock %}

{% block content %}

<div class="container">

  <h5 class="page_title text-center border-bottom border-primary pb-2">{{title}}</h5>

  <div class="card shadow">
    <div class="card-body">

      <button onclick="history.back()" class="btn btn-sm btn-warning">Go Back</button>

      <div class="row">
        <div class="col-sm-10 p-4">
          <h5>Book Details</h5>
          <table class="w-100">
            <tr>
              <th style="width: 20%;">Book Id</th>
              <td> : </td>
              <td>{{item['id']}}</td>
            </tr>

            <tr>
              <th style="width: 20%;">Title</th>
              <td> : </td>
              <td>{{item['title']}}</td>
            </tr>
          </table>

          <hr>
          <h5>Copy Details</h5>
          <table class="w-100">

            <tr>
              <th style="width: 20%;">RFID</th>
              <td> : </td>
              <td>{{copy['rfid']}}</td>
            </tr>

            <tr>
              <th>Copy Id</th>
              <td> : </td>
              <td>{{copy['copy_id']}}</td>
            </tr>
            <tr>
              <th>Original Branch</th>
              <td> : </td>
              <td>{{copy['original_branch']["name"]}} ({{copy['original_branch']["branch_id"]}})</td>
            </tr>
            <tr>
              <th>Current Branch</th>
              <td> : </td>
              <td>{{copy['current_branch']["name"]}} ({{copy['current_branch']["branch_id"]}})</td>
            </tr>
            </tr>
            <tr>
              <th>Status</th>
              <td> : </td>
              <td>{{copy['status']}}</td>
            </tr>
          </table>

          {%if copy['borrower']%}
          <hr>
          <h5>Borrower Details</h5>
          <table class="w-100">

            <tr>
              <th style="width: 20%;">Member Id</th>
              <td> : </td>
              <td>{{copy['borrower']["member_id"]}}</td>
            </tr>

            <tr>
              <th>Fullname</th>
              <td> : </td>
              <td>{{copy['borrower']["firstname"]}} {{copy['borrower']["lastname"]}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td> : </td>
              <td>{{copy['borrower']["email"]}}</td>
            </tr>
            <tr>
              <th>Contact No</th>
              <td> : </td>
              <td>{{copy['borrower']["contact_no"]}}</td>
            </tr>
            </tr>
            <tr>
              <th>Due Date</th>
              <td> : </td>
              <td>{{copy['due_date'].strftime('%Y-%m-%d') if copy['due_date']}}</td>
            </tr>
          </table>
          {%endif%}

        </div>
        <div class="col-sm-2">
          <img src="{{url_for('static',filename='uploads/books/'+item['image_filename'])}}" alt="{{item['title']}}"
            style="width: 100%;" />
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}