{% set title = 'Add Dvd' if not item else 'Update Dvd' %}
{% set curPage = "items" %}
{% extends "base.html" %} {% block content %}

<div class="container">
  <h5 class="page_title text-center border-bottom border-primary pb-2">
    {{title}}
  </h5>

  <div class="card shadow">
    <div class="card-body">
      <div class="w-50 m-auto p-4 border border-1">
        <form action="{{request.url}}" id="staffForm" enctype="multipart/form-data" method="post">
          <div class="mb-3">
            <label for="id" class="form-label">DVD Id</label>
            <input type="text" class="form-control" id="id" name="id" value="{{item['id']}}" required autofocus />
          </div>

          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{item['title']}}" required />
          </div>

          <div class="mb-3">
            <label for="director" class="form-label">Director</label>
            <input type="text" class="form-control" id="director" name="director" value="{{item['director']}}"
              required />
          </div>

          <div class="mb-3">
            <label for="production_year" class="form-label">Production Year</label>
            <input type="text" class="form-control" id="production_year" name="production_year"
              value="{{item['production_year']}}" required />
          </div>

          <div class="mb-3">
            <label for="categories" class="form-label">Categories</label>
            <input type="text" class="form-control" id="categories" name="categories"
              value="{{','.join(item['categories'])}}" required placeholder="eg: fiction, drama" />
          </div>

          <div class="mb-3">
            <label for="isbn" class="form-label">Cover Image</label>
            <input type="file" class="form-control" name="image" id="image" {{'required' if not item['id']}}>
            {%if item['id']%}
            <input type="hidden" value="{{item['image_filename']}}" name="image_filename">
            <a class="d-inline-block m-2" href="{{url_for('static',filename='uploads/dvds/'+item['image_filename'])}}"
              target="_blank">view image</a>
            {%endif%}
          </div>

          <div class="mb-3">
            <input type="hidden" name="item_type" value="dvd" />
            <input type="hidden" name="availability_type" value="Physical" />
            <input type="submit" class="btn btn-primary form-control" value="Save Dvd" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}